# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
functions/node_modules
functions/lib
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
functions/.env
functions/.env.*
!functions/.env.example

# Script de prueba con credenciales
functions/send-test-email.js

# Ignorar archivos de configuración locales (la key privada NUNCA se commitea)
serviceAccountKey.json

src/environments/environment.prod.ts

# Ignore github environment varibales automation
.github\automations\environment-variables-deployments.sh

# Capacitor
android/
ios/
.capacitor/scripts/phoneDevelopers.code-workspace

# Firebase CLI debug logs
firebase-debug.log
