<div class="register-container">
  <div class="register-header">
    <h1>SDET SERVICES</h1>
  </div>

  <div class="register-body">
    <h2>IT CONSULTANCY SERVICES</h2>
    <h3>Sign Up</h3>

    <form (ngSubmit)="register()">
      <div class="form-group">
        <label>NAME</label>
        <input type="text" placeholder="Name" [(ngModel)]="name" name="name" required />
      </div>

      <div class="form-group">
        <label>SURNAME</label>
        <input type="text" placeholder="Surname" [(ngModel)]="surname" name="surname" required />
      </div>

      <div class="form-group">
        <label>EMAIL</label>
        <input type="email" placeholder="E-mail / Username" [(ngModel)]="email" name="email" required />
      </div>

      <div class="form-group">
        <label>PASSWORD</label>
        <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required />
      </div>

      <div class="form-group">
        <label>CONFIRM PASSWORD</label>
        <input type="password" placeholder="Password Confirmation" [(ngModel)]="passwordConfirmation" name="passwordConfirmation" required />
      </div>

      <p *ngIf="errorMessage" class="error-text">{{ errorMessage }}</p>

      <button type="submit">SIGN UP</button>
    </form>

    <!--Pop Up emerging window for confirmation-->
    <div class="toast success" *ngIf="successMessage">
      {{ successMessage }}
    </div>

    <div class="toast error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
</div>

